<div>
  <h4>Select Series</h4>
  <mat-form-field appearance="fill">
    <mat-label>Series</mat-label>
    <mat-select [(ngModel)]="selectedOption">
      <mat-option *ngFor= "let s of this.series" [value]="s.name">
        {{s.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button (click)="onSelect()">Select</button>
  <div *ngIf="this.numOfSeasons">
    <app-choose-season [selectedSeries]="selectedOption" [numOfSeasons]="this.numOfSeasons"></app-choose-season>
  </div>
</div>


